@{
    Layout = null;
}
<script>
    if (@ViewBag.UserID != 0) {
        window.location.href = '/'
    }
</script>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
    }

    #body-login {
        /* background-image: url(/image/Rectangle167.png); */
        background-image: url(/images/Frame286.png);
        background-size: cover;
        /* background-color: blue; */
        padding: 100px;
        width: 100%;
        position: relative;
    }

    @@media (max-width: 1025px) {
        #body-login {
            padding: 20px;
        }
    }

    .form-login-modal {
        width: 100%;
        height: 100%;
        /* background-color: red; */
        position: relative;
    }

    .form-group-inner {
        height: 100%;
    }

    .login {
        border-radius: 20px;
        background-color: rgb(0 0 0 / 50%);
        height: auto;
        top: 15%;
        padding: 30px;
    }

        .login h3 {
            color: #2AD9FF;
        }

        .login h5 {
            color: white;
        }

    label {
        color: white;
        font-weight: 400;
        font-size: 13px;
    }

    .field-icon {
        float: right;
        margin-right: 10px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    #lost-password {
        float: right;
    }

    .login .btn {
        width: 100%;
        background: linear-gradient(278.2deg, #E4750E 11.21%, rgba(228, 117, 14, 0) 103.52%), #FFB526;
    }

    .footer-form {
        float: left;
        color: white;
        width: 100%;
        margin-top: 34px;
    }

    #register-modal {
        color: #FF9900;
    }

    .logo-social {
        float: right;
    }

    /* turn off the eye in password field */
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }

    .fa-name-shape-o-direction:hover {
        box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 30%);
        border-radius: 50%;
        -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
</style>


<div class="container" id="body-login">
    <div class="form-login-modal">
        <div class="form-group-inner">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 login">
                <h3>@ViewBag.lblTimlaiMatKhau</h3>
                <h5>
                    @ViewBag.lblNoiDungTimLaiMatKhau
                </h5>

                <div class="form-group">
                    <label for="username">@ViewBag.lblDiaChiEmail</label>
                    <input type="text" class="form-control" id="subForgotPassword" placeholder="@ViewBag.lblNhapEmail">
                </div>
                <button type="submit" onclick="submitForgotPassword()" class="btn btn-warning">@ViewBag.lblXacNhan</button>
                <div class="footer-form">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0 !important;">

                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0 !important;">
                            <p class="control-label">
                                @ViewBag.lblChuaCoTaiKhoan? <a id="register-modal" href="/Register">@ViewBag.lblDangKi</a>
                            </p>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0 !important;">
                            <div class="logo-social">
                                <i class="fa fa-name-shape-o-direction" onclick="LoginGoogle()" style="cursor:pointer;margin:0 5px;">
                                    <img src="~/images/Group278.png" height="30" width="30" alt="">
                                </i>
                                <i class="fa fa-name-shape-o-direction" onclick="loginByFacebook()" style="cursor:pointer;margin:0 5px;">
                                    <img src="/images/Group277.png" height="30" width="30" alt="">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            </div>
        </div>
    </div>
</div>

<script>
    function submitForgotPassword() {
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if ($("#subForgotPassword").val().length < 1) {

            Swal.fire(
                'Vui lòng nhập Email',
                'Vui lòng nhập Email để có thể tiến hành tạo mật khẩu mới!',
                'info'
            );
        }
        else if (!filter.test($("#subForgotPassword").val())) {

            Swal.fire(
                'Vui lòng kiểm tra lại thông tin đã nhập',
                'Email bạn đã nhập không đúng định dạng, vui lòng kiểm tra và nhập lại!',
                'info'
            );
        }
        else {
            var objForgotPassword = {
                "id": 1,
                "accountTypeID": 1,
                "active": 1,
                "name": "",
                "email": $("#subForgotPassword").val(),
                "username": "",
                "password": "",
                "photo": "",
                "description": "",
                "info": "",
                "createdTime": "2019-01-01 00:00:00",
                "phone": "",
                "address": ""

            };
            debugger;
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/Account/api/ForgotPassword",
                data: JSON.stringify(objForgotPassword),
                success: function (responseData) {
                    debugger;
                    if (responseData.status == 200 && responseData.message === "SUCCESS") {
                        Swal.fire(
                            'Thành công',
                            'Thông tin tài khoản của bạn đã được gửi về địa chỉ email đăng ký!',
                            'success'
                        );

                    }
                    if (responseData.status == 200 && responseData.message === "EMAIL_INCORRECT") {
                        Swal.fire(
                            'Lỗi',
                            'Tên email bạn nhập không chính xác !',
                            'error'
                        );
                    }
                },
                error: function (e) {
                    //console.log(e.message);
                    Swal.fire(
                        'Lỗi',
                        'Vui lòng kiểm tra lại thông tin Email của bạn!',
                        'error'
                    );
                }
            });
        }

    }
    var url = location.href;
    var paramsUrl = new URL(url);
    var homeUrl = paramsUrl.origin;
    function LoginGoogle() {
        location.href = "/account/api/RegisterWithGoogle?returnUrl=" + homeUrl;
    }
</script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '988035435083398',
            cookie: true,
            xfbml: true,
            version: 'v13.2'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            LoginFaceBook(response);
        }
    }
    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.login(function (response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }
    function LoginFaceBook(response) {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: 'https://graph.facebook.com/me?fields=id,name,email,picture.width(720).height(720).as(picture)&access_token=' + response.authResponse.accessToken + '',
            success: function (responseData) {
                debugger;
                var email = "";
                var photo = "";
                if (responseData.email == undefined) {
                    email = "";
                }
                else {
                    email = responseData.email;
                }
                if (responseData.picture.data.url != "" || responseData.picture.data.url != undefined) {
                    photo = responseData.picture.data.url.toString();
                }
                else {
                    photo = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSgiBXKS7_rYOPdUxh1W9sSbmg-0y5MeIxXQImvfmGmRvjz5q-&s";
                }
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: 'Account/api/LoginWithFaceBook?userID=' + responseData.id + '&name=' + responseData.name + '&photo=' + photo + '&email=' + email + '&returnUrl=' + homeUrl,
                    success: function (responseData) {
                        location.href = homeUrl;
                    }
                });
            }
        });
    }
    function loginByFacebook() {
        FB.login(function (response) {
            if (response.authResponse) {
                FacebookLoggedIn(response);
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        },
            //{ scope: 'user_birthday,user_about_me,user_hometown,user_location,email,publish_stream' });
            { scope: 'user_birthday,user_hometown,user_location,email,user_link,user_gender,user_photos' });
    }
    function FacebookLoggedIn(response) {
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            LoginFaceBook(response);
        }
    }
</script>