@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .Contact_Us {
        background-color: white !important;
        height: auto;
        /*padding-left: 11%;*/
        padding:0 !important;
    }

    .Contact_Us_Text {
        /*width: 45%;*/
        margin-bottom: 20% !important;
    }

        .Contact_Us_Text p:first-child {
            font-family: sans-serif;
            font-size: 18px;
            padding-top: 10%;
            color: #54555A;
            margin-bottom: 2%;
        }

        .Contact_Us_Text p:nth-child(2) {
            font-size: 34px;
            font-family: sans-serif;
            padding-bottom: 3%;
        }

    .Computer_Chart {
        position: relative;
        padding-top: 4%;
        padding-left: 10%;
    }

        .Computer_Chart img {
            position: absolute;
        }
</style>
<div class="container-fluid Contact_Us">
    <div class="container" style="padding: 0 15% 0 15%; width: 100%; margin: 0 ">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 Contact_Us_Text" style="padding:0;">
                <p style="text-transform:uppercase">@ViewBag.lblGiaiPhapHoTro</p>
                <p>@ViewBag.lblCongCuDanhGia <span style="color: #FF9900; font-weight: 600">@ViewBag.lblTinhTrangTaiChinhToanDien</span></p>
                <p style="font-size: 20px">@ViewBag.lblMoTaCongCuDanhGia</p>
                <button onclick="doSurvey()" style="text-transform: uppercase; visibility: visible; opacity: 1; transition: opacity 0.7s cubic-bezier(0.5, 0, 0, 1) 0.8s, opacity 1.5s cubic-bezier(0.5, 0, 0, 1) 1s;" class="btn btn-warning CoverButton punchline">
                    @ViewBag.lblThucHienDanhGia
                </button>
            </div>

            <div class="col-xs-0 col-sm-6 col-md-6 col-lg-6 Computer_Chart">
                <img src="~/images/KEY0 1.png" style="left:20%;width:70%;" />
                <img src="~/images/image 23.png" style="top: 136%; left: 22%; width: 66%;" />
                <img src="~/images/chart-3.png" style="top: 179%; left: 66%; width: 40%;" />
            </div>

        </div>
    </div>
</div>
<script>
    function doSurvey() {
        window.location.href = '/Liet-ke-cac-khao-sat';
    }
</script>