@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <!-- Start Library-->
    <partial name="../Shared/A2FComponent/Library" />
    <!-- End Library-->
</head>
<body>
    <style>
        #event-image-mobile {
            display:none;
        }
        #eventsTab .active {
            border-bottom: 3px solid aqua;
        }

        .nav > li > a:hover {
            background-color: unset !important;
        }
        /*text for 3 line only, if too long it turn to '...'*/
        .text-news {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .Content_tab {
            width: 61%;
        }

        .nav-tabs > li {
            float: none;
            display: inline-block;
            zoom: 1;
        }

        .nav-tabs {
            text-align: center;
        }

        .EventContext {
            padding-bottom: 4%;
        }

            .EventContext p:nth-child(3) {
                display: inline-block;
                padding-right: 1%;
                font-size: 18px;
            }

            .EventContext p:last-of-type {
                display: inline-block;
                padding-right: 1%;
                font-size: 18px;
            }

            .EventContext p:first-of-type {
                color: #265178;
                font-size: 28px;
                font-family: sans-serif;
            }

            .EventContext p:nth-child(2) {
                color: #5A6990;
                font-size: 15px;
                font-family: sans-serif;
            }

            .EventContext span {
                color: #54555A;
                font-size: 18px;
                font-family: sans-serif;
            }

        .Contact_Us {
            height: auto;
        }

        .ID_Card {
            margin-bottom: 10%;
            position: relative;
            background-color: #313e4c;
            height: 347px;
        }

            .ID_Card .row div img {
                position: absolute;
            }

            .ID_Card .row div span {
                margin-right: 40px;
            }

        .Event_Image {
            position: relative;
            padding-left: 10.5%;
            height: 219px;
        }

            .Event_Image img {
                position: absolute;
            }

                .Event_Image img:nth-child(2) {
                    top: 6%;
                    left: -5%;
                }

                .Event_Image img:first-of-type {
                    width: 350px;
                    height: 220px;
                }

        .PlayButton {
            position: absolute;
            border-radius: 50px;
            width: 55px;
            height: 55px;
            background-color: white;
            padding-top: 18px;
            padding-left: 21px;
            margin-left: 38%;
            margin-top: 22%;
            box-shadow: 0px 0px 0px 8px rgb(255 255 255 / 30%);
        }

            .PlayButton:hover {
                position: absolute;
                border-radius: 55px;
                width: 59px;
                height: 59px;
                background-color: white;
                padding-top: 20px;
                padding-left: 23px;
                margin-left: 37.5%;
                margin-top: 21.5%;
                box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 30%);
                transition: all 0.2s ease;
            }

        /* CSS for Events page : Start */

        .text-link-event {
            line-height: 14.06px;
            font-size: 12px;
            font-weight: 400;
        }

        /* Big-event-clock inside carousel */

        .big-event-event {
            height: 374px !important;
            padding-top: 0;
        }

        /* CSS for Events page : End */
        #menu1 .container, #home .container {
            padding-top: 15px;
        }
    </style>
    <style>
        @*REPONSIVE MOBILE*@
        @*IP5*@
        @@media only screen and (max-width:320px) {
            @*SLIDE*@
            .Content_tab {
                width: 100% !important;
                height: auto !important;
                padding: 15px !important;
            }
            #image-carousel {
                display:none !important;
            }
            .slide-event {
                padding: 0 !important;
            }
            #clock, #ClockMeaning {
                padding: 0 !important;
            }
            @*SLIDE-END*@
            @*Event*@
            #eventsTab li {
                margin: 0 !important;
            }
            #event-image {
                display: none;
            }
            #event-image-mobile {
                display: block !important;
            }
            #Nextview-button {
                width: 100% !important;
                margin: 0 0 50px 0 !important;
            }
            @*Event- END*@
            @*ID CARD*@
            #img-background-contact-us {
                display: none !important;
            }
            #img-contact-us {
                position: relative !important;
                width: 100% !important;
                top:0 !important;
            }
            .logo-contact-us {
                display:none;
            }
            .ID_Card {
                height:auto !important;
                padding:15px !important;
                border-radius: 15px !important;
            }
            .group-image-id-card {
                width:100% !important;
            }
            .EventContext {
                height:auto !important;
            }
            @*ID CARD - END*@

        }
        @*IP5 END*@
        @*IP6*@
        @@media only screen and (min-width:320px) and (max-width:375px) {
            @*SLIDE*@
            .Content_tab {
                width: 100% !important;
                height: auto !important;
                padding: 15px !important;
                border-radius: 25px 25px 25px 25px !important;
            }

            #image-carousel {
                display: none !important;
            }

            .slide-event {
                padding: 0 !important;
            }

            #clock, #ClockMeaning {
                padding: 0 !important;
            }

            @*SLIDE-END*@
            @*Event*@
            #eventsTab li {
                margin: 0 !important;
            }

            #event-image {
                display: none;
            }

            #event-image-mobile {
                display: block !important;
            }

            #Nextview-button {
                width: 100% !important;
                margin: 0 0 50px 0 !important;
            }

            @*Event- END*@
            @*ID CARD*@
            #img-background-contact-us {
                display: none !important;
            }

            #img-contact-us {
                position: relative !important;
                width: 100% !important;
                top: 0 !important;
            }

            .logo-contact-us {
                display: none;
            }

            .ID_Card {
                height: auto !important;
                padding: 15px !important;
                border-radius: 15px !important;
            }

            .group-image-id-card {
                width: 100% !important;
            }

            .EventContext {
                height: auto !important;
            }

            @*ID CARD - END*@
        }
        @*IP6 END*@

        @*IP6*@
        @@media only screen and (min-width:375px) and (max-width:767px) {
            @*SLIDE*@
            .Content_tab {
                width: 100% !important;
                height: auto !important;
                padding: 15px !important;
                border-radius: 25px 25px 25px 25px !important;
            }

            #image-carousel {
                display: none !important;
            }

            .slide-event {
                padding: 0 !important;
            }

            #clock, #ClockMeaning {
                padding: 0 !important;
            }

            @*SLIDE-END*@
            @*Event*@
            #eventsTab li {
                margin: 0 !important;
            }

            #event-image {
                display: none;
            }

            #event-image-mobile {
                display: block !important;
            }

            #Nextview-button {
                width: 100% !important;
                margin: 0 0 50px 0 !important;
            }

            @*Event- END*@
            @*ID CARD*@
            #img-background-contact-us {
                display: none !important;
            }

            #img-contact-us {
                position: relative !important;
                width: 100% !important;
                top: 0 !important;
            }

            .logo-contact-us {
                display: none;
            }

            .ID_Card {
                height: auto !important;
                padding: 15px !important;
                border-radius: 15px !important;
            }

            .group-image-id-card {
                width: 100% !important;
            }

            .EventContext {
                height: auto !important;
            }

            @*ID CARD - END*@
        }

        @*IP6 END*@
        @*IPAD*@
        @@media only screen and (min-width:767px) and (max-width:991px) {
            @*SLIDE*@
            .Content_tab {
                padding: 15px !important;
            }

            .slide-event {
                padding: 0 !important;
            }

            #clock, #ClockMeaning {
                padding: 0 !important;
            }
            @*SLIDE-END*@
            @*Event*@
            #eventsTab li {
                margin: 0 !important;
            }

            #Nextview-button {
                width: 100% !important;
                margin: 0 0 50px 0 !important;
            }

            .PlayButton {
                margin-left: 34% !important;
                margin-top: 35% !important;
            }
            @*Event- END*@
            @*ID CARD*@
            #img-background-contact-us {
                display: none !important;
            }

            .group-image-id-card {
                width: 41.66666667% !important;
            }

            #img-contact-us {
                position: relative !important;
                width: 100% !important;
                top: 0 !important;
            }


            .ID_Card {
                height: auto !important;
                padding: 15px !important;
                border-radius: 15px !important;
            }

            .EventContext {
                height: auto !important;
            }

            .ID_Card button {
                margin-bottom: 7% !important;
            }

            .logo-contact-us {
                left: 0 !important;
            }
            @*ID CARD - END*@
        }

        @*IPAD END*@
        @*IPAD PRO*@
        @@media only screen and (min-width:991px) and (max-width:1025px) {
            @*SLIDE*@ .Content_tab {
                padding: 15px !important;
            }

            .slide-event {
                padding: 0 !important;
            }

            #clock, #ClockMeaning {
                padding: 0 !important;
            }

            @*SLIDE-END*@ @*Event*@

            #eventsTab li {
                margin: 0 !important;
            }

            #Nextview-button {
                width: 100% !important;
                margin: 0 0 50px 0 !important;
            }
            @*Event- END*@
            @*ID CARD*@
            .ID_Card {
                height: auto !important;
                padding: 15px !important;
                border-radius: 15px !important;
            }

            .EventContext {
                height: auto !important;
            }

            .ID_Card button {
                margin-bottom: 7% !important;
            }
            @*ID CARD - END*@
        }

        @*IPAD PRO END*@
        @*REPONSIVE MOBILE END*@
    </style>


    <!-- Starts Header -->
    <partial name="../Shared/A2FComponent/_Header" />
    <!-- Ends Header -->
    <!-- Starts Banner Header-->
    <partial name="../Shared/A2FComponent/_BannerHeader" />
    <!-- Ends Banner Header -->
    @RenderBody()

    @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: unset;">
        <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@ViewBag.list5HottestNew[0].Photo'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 420px;">
        <div style="padding-top: 300px; padding-left: 5vh; padding-right: 5vh;">
        <a class="text-news" style="line-height: 25px; font-size: 20px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/ + @ViewBag.list5HottestNew[0].Url">@ViewBag.list5HottestNew[0].Name</a>
        <p class="text-time-news ">@ViewBag.list5HottestNew[0].PublishedTime</p>
        </div>
        </div>
        </div> *@

    <!-- category Start -->
    <div class="container-fluid" style="background-color: #E9F4F5; padding-bottom: 60px;">
        <!-- Title and linked page : Start -->
        <div class="container" style="margin-bottom: 30px;">
            <div style="margin-top: 20px">
                <span class="text-link-event"><a href="home">@ViewBag.lblTrangChu</a> </span>
                <span class="text-link-event" style=" padding: 10px 10px;">/</span>
                <span class="text-link-event"><a href="event">@ViewBag.lblSuKien</a></span>
            </div>
            <div>
                <h4 style="line-height: 40px; font-size: 32px; font-weight: 400; float: left; color: #265178">
                    @ViewBag.lblSuKien
                </h4>
                <img src="~/images/logo1.bmp" class="img-responsive" alt="Image"
                     style="float: left; padding: 0; margin-left: 5px">
            </div>
        </div>
        <!-- Title and linked page : End -->
        <!-- Slide Start  -->
        @*<div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <style>
            .carousel .carousel-indicators li {
            background-color: #265178;
            width: 16px;
            height: 16px;
            }

            .carousel .carousel-indicators li.active {
            background-color: white;
            border-color: #265178;
            }
            </style>
            <ol class="carousel-indicators" style="bottom: -55px">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <style>
            .event-carousel {
            padding-bottom: 0% !important;
            padding-top: 0% !important
            }
            </style>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            var _item = ViewBag.ListPostEvents[i];



            <div class="item active">
            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>
            @for(int i=0;i<2;i++)
            {
            <div class="item">
            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>
            }

            @*<div class="item active">

            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>

            <div class="item">
            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>

            <div class="item">
            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>
            Đây là slider sẽ load tất cả các sự kiện sắp diễn ra (nhưng vì chưa phân sự kiên theo thời gian), hiện tại đang load 3 sự kiện mới nhất.
            @for (int i = 0; i < 3; i++)
            {
            var item = ViewBag.ListPostEvents[i];
            <div class="item">

            <partial name="../A2FComponent/_Big_Event_HomePage.cshtml" />
            </div>
            }
            </div>


            </div>*@
        <partial name="../A2FComponent/_Carousel_Events.cshtml" />

        <!-- Slide Ends -->
    </div>
    <!-- Category Ends -->
    <!-- Event-list : Start-->
    <div>
        <ul id="eventsTab" class="nav nav-tabs" style="padding-top:1%;padding-bottom:1%;border:none; height: 95px">
            <li class="active" style=" margin-right: 20px"><a data-toggle="tab" href="#home" style="color: black; font-size:18px; border:none; font-weight: 700; text-transform:uppercase">@ViewBag.lblSuKienDangDienRa</a></li>
            <li style="margin-left: 20px"><a data-toggle="tab" href="#menu1" style="color: black; font-size: 18px; border: none; font-weight: 700; text-transform: uppercase">@ViewBag.lblSuKienDaKetThuc</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <!--List Events đang diễn ra-->
                <partial name="../A2FComponent/_Group_Item_Event_Going_On.cshtml" />

            </div>
            <div id="menu1" class="tab-pane fade">
                <!--List Events đã kết thúc-->
                <partial name="../A2FComponent/_Group_Item_Event_Ended.cshtml" />

            </div>
        </div>
        <!-- Event-list : End -->
    </div>

    <partial name="../A2FComponent/_ID_Card_Container_HomePage.cshtml" />
    <!-- STARTS FOOTER -->
    <partial name="../Shared/A2FComponent/_Footer" />
    <!-- ENDS FOOTER -->
    @*<partial name="Auction/FrontEnd/_Javascript" />*@
</body>
</html>

<script>
    // nhấn vào tab chuyển page
    $(function () {
       var activeTab = $('[href=' + location.hash + ']');
       activeTab && activeTab.tab('show');
       //debugger;
       //var path = '.icon-' + location.href.split('#')[1];
       //$('path').addClass("show");
    });
</script>