@{
    Layout = null;
}

<style>
 @@media only screen and (max-width: 991px) {
   .hottest1{
       padding-left: 0;
   }
}
    /* responsive for Category Detail*/

    /* This to display only three line on news */
    .text-news {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    /* Responsive for container - trang chu/ tin tuc*/
    @@media (maxwidth : 322px) {
        div.container h4 {
            font-size: 26px !important;
        }
    }

    .text-time-news {
        color: white;
        font-size: 12px;
        /*position: absolute;
        bottom: 6px;*/
    }



    @@media (max-width : 767px) {



        .container {
            margin-left: 0;
            margin-right: 0;
            padding-right: 0;
            padding-left: 0;
        }

        .div-container-news {
            padding-left: 5vh !important;
            padding-right: 5vh !important;
        }
    }
</style>

<div class="container-fluid" style="background-color: #E9F4F5; padding-bottom: 60px;">

    <div class="container">
        <div style="margin-top: 20px">
            <span style="line-height: 14.06px; font-size: 12px; font-weight: 400;"><a href="home">@ViewBag.lblTrangChu</a> </span>
            <span style="line-height: 14.06px; font-size: 12px; font-weight: 400; padding: 10px 10px;">/</span>
            <span style="line-height: 14.06px; font-size: 12px; font-weight: 400;"><a href="news">@ViewBag.lblTinTuc</a></span>
        </div>
        <div>
            <h4 style="line-height: 40px; font-size: 32px; font-weight: 400; float: left; color: #265178;">@ViewBag.lblTinTucCapNhat</h4>
            <img src="/images/logo1.bmp" class="img-responsive" alt="Image"
                 style="float: left; padding: 0; margin-left: 5px">
        </div>
    </div>


    <!-- Category Detail Start -->
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hottest1" style="padding-right: 0">
                <div class="geeks">
                    <div class="zoom" onclick="location.href='/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[0].Url';" style="cursor: pointer;background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(1, 1, 1, 1)), url('@ViewBag.list5NewestNews[0].Photo'); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 420px;">
                    <div style="padding-top: 300px; padding-left: 5vh; padding-right: 5vh;">
                        <a class="text-news" style="line-height: 25px; font-size: 20px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[0].Url">@ViewBag.list5NewestNews[0].Name</a>
                        <p class="text-time-news " >@ViewBag.list5NewestNews[0].PublishedTime.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                    </div>
                </div>
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: unset">
                        <div class="geeks"> 
                            <div class="zoom" onclick="location.href='/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[1].Url';" style="cursor: pointer; background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(1, 1, 1, 1)), url('@ViewBag.list5NewestNews[1].Photo'); background-repeat: no-repeat; background-size:  100% 100%; width: 100%; height: 210px;">
                            <div class="div-container-news " style="padding-top: 115px; padding-left: 2vh; padding-right: 2vh;">
                                <a class="text-news" style="line-height: 18.75px; font-size: 15px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[1].Url">@ViewBag.list5NewestNews[1].Name</a>
                                <p class="text-time-news ">@ViewBag.list5NewestNews[1].PublishedTime.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                            </div>
                        </div>
                        </div>
                        
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: unset">
                        <div class="geeks">
                            <div class="zoom" style="background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(1, 1, 1, 1)), url('@ViewBag.list5NewestNews[2].Photo'); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 210px;">
                            <div onclick="location.href='/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[2].Url';" class="div-container-news" style="cursor: pointer; padding-top: 115px; padding-left: 2vh; padding-right: 2vh;">
                                <a class="text-news" style="line-height: 18.75px; font-size: 15px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[2].Url">@ViewBag.list5NewestNews[2].Name</a>
                                <p class="text-time-news ">@ViewBag.list5NewestNews[2].PublishedTime.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                            </div>
                        </div>
                        </div>
                        
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: unset">
                        <div class="geeks">
                             <div class="zoom" onclick="location.href='/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[3].Url';" style="cursor: pointer; background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@ViewBag.list5NewestNews[3].Photo'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 210px;">
                            <div class="div-container-news" style="padding-top: 115px; padding-left: 2vh; padding-right: 2vh;">
                                <a class="text-news" style="line-height: 18.75px; font-size: 15px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[3].Url">@ViewBag.list5NewestNews[3].Name</a>
                                <p class="text-time-news ">@ViewBag.list5NewestNews[3].PublishedTime.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                            </div>
                        </div>
                        </div>
                       
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: unset">
                        <div class="geeks">
                            <div class="zoom" onclick="location.href='/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[4].Url';" style="cursor: pointer; background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@ViewBag.list5NewestNews[4].Photo'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 210px;">
                            <div class="div-container-news" style="padding-top: 115px; padding-left: 2vh; padding-right: 2vh;">
                                <a class="text-news" style="line-height: 18.75px; font-size: 15px; font-weight: 400; color: white;" href="/chi-tiet-tin-tuc/@ViewBag.list5NewestNews[4].Url">@ViewBag.list5NewestNews[4].Name</a>
                                <p class="text-time-news ">@ViewBag.list5NewestNews[4].PublishedTime.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                            </div>
                        </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Category Detail Stop -->

</div>