@{
    Layout = null;
}

<!-- CSS Start -->
<style>
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: white;
    }

    .activeavbar {
        margin-bottom: 0px;
    }

    .no-padding {
        padding: 0 !important;
    }

    .login .row.panel-content {
        background-color : white;
        box-shadow: 0px 0px 10px #ccc;
    }

    .login label {
        font-size : 17px;
    }
</style>

<!--CSS TABS Start-->
<style>
    /* CSS in tab bar : Start */

    .nav-tabs-privacy > li > a {
        line-height: 1.428571;
        padding: 20px 10px;
        letter-spacing: 1px;
        font-size: 18px;
    }

    ul.nav-tabs-privacy {
        box-shadow: 0px 0px 10px #ccc;
    }

    .nav-tabs-privacy li {
        width: 100%;
        
        background-color: #E9F4F5;
        color: #265178;
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: #ccc;
    }

    .nav-tabs-privacy > li.active > a,
    .nav-tabs-privacy > li.active > a:focus,
    .nav-tabs-privacy > li.active > a:hover {
        background-color: #0D9CC9;
        color: white;
    }

    .fa-arrow-right {
        float: right;
        display: none;
    }

        .fa-arrow-right.show {
            display: block;
        }

    i.icon-navbar {
        padding-top: 3px;
        pointer-events: none;
    }
    /* CSS in tab bar : End */

    /* CSS inside content panels : Start */

    /* Turn off eye in password */
    input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }

    .tab-pane h4#first-tittle {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #FF9900;
        margin-bottom: 2em;
        margin-top : 0 !important;
    }

    .tab-pane {
        color: #265178;
    }

        .tab-pane p,
        .tab-pane li {
            font-size: 17px;
            text-align: justify;
        }
    /* CSS for infomation account form : Start */

    .login input {
        margin-bottom: 1em;
    }

    .login h3 {
        color: #265178;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1em;
        padding-left : 15px;
    }

    .login h5 {
        color: white;
    }

    .login .btn-submit {
        width: 100%;
        margin-top: 0.5em;
        background: linear-gradient(278.2deg, #E4750E 11.21%, rgba(228, 117, 14, 0) 103.52%), #FFB526;
        margin-bottom : 50px;
    }
    /* CSS for infomation account form : End */

    /* Upload image css : Start */
    .avatar-wrapper {
        position: relative;
        height: 150px;
        width: 150px;
        margin: 0px auto 20px auto; 
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 15px -5px black;
        transition: all 0.3s ease;
    }

        .avatar-wrapper:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

            .avatar-wrapper:hover .profile-pic {
                opacity: 0.5;
            }

        .avatar-wrapper .profile-pic {
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;
        }

            .avatar-wrapper .profile-pic:after {
                font-family: FontAwesome;
                content: "\f007";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 190px;
                background: #ecf0f1;
                color: #34495e;
                text-align: center;
            }

        .avatar-wrapper .upload-button {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

            .avatar-wrapper .upload-button .fa-arrow-circle-up {
                position: absolute;
                font-size: 234px;
                top: -17px;
                left: 0;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease;
                color: #34495e;
            }

            .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
                opacity: 0.9;
            }

    i.icon-change-picture {
        font-size: 157px !important;
        top: -4px !important;
        left: -4px !important;
    }

    .button-center {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /* Upload image css : End */
    }
    /* CSS inside content panels : Ends */
</style>



<style>
    /* CSS for change-password : Starts */
    .toogle-icon {
        float: right;
        position: relative;
        top: -37px;
        left: -21px;
    }
    /* CSS for change-password : Ends */


</style>

<style>
    /* CSS for events management : Start */
    .goingOnLogo {
        position: absolute !important
    }

    .Event_Image {
        position: relative;
        padding-left: 15px !important;
    }

        .Event_Image .imageItem {
            position: relative !important;
        }

        .Event_Image img:nth-child(2) {
            top: 10% !important;
            left: -2% !important;
        }

        .Event_Image img:first-of-type {
            width: 350px;
            height: 170px;
        }

    .EventContext {
        padding-bottom: 3%;
    }

        .EventContext p:nth-child(3) {
            display: inline-block;
            padding-right: 1%;
            font-size: 18px;
        }

        .EventContext p:last-of-type {
            display: inline-block;
            padding-right: 1%;
            font-size: 18px;
        }

        .EventContext a:first-of-type {
            color: #265178;
            font-size: 23px;
        }

        .EventContext span {
            color: #54555A;
            font-size: 14px; 
        }

        .EventContext i {
            font-size : 15px;
        }

    /*Add class css for playButton*/
    .PlayButton {
        position: absolute !important;
        top: 0% !important;
        border-radius: 50px;
        width: 55px;
        height: 55px;
        background-color: white;
        padding-top: 18px;
        padding-left: 21px;
        margin-left: 38%;
        margin-top: 22%;
        box-shadow: 0px 0px 0px 8px rgb(255 255 255 / 30%);
    }

        .PlayButton:hover {
            position: absolute;
            border-radius: 55px;
            width: 59px;
            height: 59px;
            background-color: white;
            padding-top: 20px;
            padding-left: 23px;
            margin-left: 37.5%;
            margin-top: 21.5%;
            box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 30%);
            transition: all 0.2s ease;
        }

    p.event-management-icon {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #54555A;
    }
    /* CSS for events management : End */
</style>
<!-- CSS End -->
<!-- Responsive start -->
<style>
    @@media (max-width : 768px) {
        #privacy-navbar, .tab-bar-userprofile {
            padding: 0 !important;
        }
        .avatar-accountsetting-right {
            display: none;
        }

        .avatar-accountsetting-left, #privacy-navbar {
            display : block !important;

        }

         


         .lock-img-acount-setting , .Event_Image {
             display : none;
         }

    }


    @@media (max-width : 992px) {
        #privacy-navbar {
             margin : 50px 0;
         }
    }
     
</style>
<!-- Responsive end -->


<!-- Content Tabbar and tabPanes-->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 50px;">



    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xlg-3 tab-bar-userprofile">


        <div class="collapse navbar-collapse" id="privacy-navbar">
            <ul class="nav nav-tabs-privacy  flex-column" id="privacy-ul" role="tablist" style="text-transform: uppercase;">
                <li role="presentation" class="active tab-contain">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        @ViewBag.lblThongTinTaiKhoan <i class="fa-solid fa-arrow-right icon-navbar" ></i>
                    </a>
                </li>
                <li role="presentation" class="tab-contain">
                    <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">
                        @ViewBag.lblDoiMatKhau <i class="fa-solid fa-arrow-right icon-navbar " ></i>
                    </a>
                </li>
                <li role="presentation" class="tab-contain">
                    <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
                        @ViewBag.lblQuanLySuKien <i class="fa-solid fa-arrow-right icon-navbar"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xlg-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <!-- Account-infomation : Start -->
                <div class="login">
                    <div class="row panel-content">
                        <h3>@ViewBag.lblThongTinTaiKhoan</h3>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding avatar-accountsetting-left " style="display:none">
                            <div class="avatar-wrapper">
                                <img id="imageAvatar" class="profile-pic" src="@Model.Photo" alt="unknown" />
                                <div class="upload-button">
                                    <i class="fas fa-arrow-circle-up icon-change-picture" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" accept="image/*" />
                            </div>
                            <p style="text-align: center">@ViewBag.lblAnhDaiDien</p>
                            @*<button class="btn btn-success button-center "><i class="fas fa-images"></i> THAY ẢNH </button>*@
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">



                            <div class="form-group">
                                <label for="username">@ViewBag.lblDiaChiEmail</label><span class="required">*</span>
                                <input type="text" class="form-control" id="email" placeholder="@ViewBag.lblNhapEmail" value="@(Model.Email ?? String.Empty)" disabled="disabled">

                                <label for="name">@ViewBag.lblHoVaTen</label><span class="required">*</span>
                                <input type="text" class="form-control" id="name" placeholder="@ViewBag.lblHoVaTen" value="@(Model.Name ?? String.Empty)" disabled="disabled">

                                <label for="username">@ViewBag.lblTenDangNhap1</label><span class="required">*</span>
                                <input type="text" class="form-control" id="username" placeholder="@ViewBag.lblNhapTenDangNhap1" value="@(Model.Username ?? String.Empty)" disabled="disabled">

                                <label for="PhoneNumber">@ViewBag.lblSoDienThoai</label>
                                <input type="text" class="form-control" id="PhoneNumber" placeholder="@ViewBag.lblNhapSoDienThoai" value="@(Model.Phone ?? String.Empty)">

                                <label for="IdCardNumber">@ViewBag.lblChungMinhThu</label>
                                <input type="text" class="form-control" id="IdCardNumber" placeholder="@ViewBag.lblNhapSoChungMinhThu" value="@(Model.IdCardNumber ?? String.Empty)">

                                @if(@ViewBag.UserTypeID != 10002)
                                {
                                     <label for="CompanyName">@ViewBag.lblTenDoanhNghiep</label>
                                    <input type="text" class="form-control" id="CompanyName" placeholder="@ViewBag.lblNhapTenDoanhNghiep" value="@(Model.CompanyName ?? String.Empty)">

                                    <label for="CompanyNumber">@ViewBag.lblSoDangKyKinhDoanh</label>
                                    <input type="text" class="form-control" id="CompanyNumber" placeholder="@ViewBag.lblNhapSoDangKyKinhDoanh" value="@(Model.CompanyNumber ?? String.Empty)">
                                }
                               
                            </div>

                            <button class="btn btn-warning btn-lg btn-submit " onclick="changeInfo()">@ViewBag.lblCapNhatThayDoi</button>



                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding avatar-accountsetting-right">
                            <div class="avatar-wrapper">
                                <img id="imageAvatar" class="profile-pic" src="@Model.Photo" alt="unknown" />
                                <div class="upload-button">
                                    <i class="fas fa-arrow-circle-up icon-change-picture" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" accept="image/*" />
                            </div>
                            <p style="text-align: center">@ViewBag.lblAnhDaiDien</p>
                            @*<button class="btn btn-success button-center "><i class="fas fa-images"></i> THAY ẢNH </button>*@
                        </div>
                    </div>
                </div>
                <!-- Account-infomation : End -->
            </div>
            <div role="tabpanel" class="tab-pane" id="tab">
                <!-- Change Password : Start -->
                <div class="login">
                    <div class="row panel-content">
                        <h3>@ViewBag.lblDoiMatKhau </h3>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">

                            <div class="form-group">

                                <label for="current-password">@ViewBag.lblNhapMatKhauHienTai</label><span class="required">*</span>

                                <input type="password" class="form-control" name="current-password" id="oldPassword" placeholder="@ViewBag.lblNhapMatKhauHienTai">

                                <span id="oldIcon" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password toogle-icon"></span>

                                <label for="new-password-retype">@ViewBag.lblMatKhauMoi</label><span class="required">*</span>

                                <input type="password" class="form-control" name="new-password-retype" id="newsPassword" placeholder="@ViewBag.lblNhapMatKhauMoi">

                                <span id="newsIcon" toggle="#confirmpassword-field" class="fa fa-fw fa-eye field-icon toggle-confirmpassword toogle-icon"></span>

                                <label for="new-password">@ViewBag.lblNhapLaiMatKhauMoi</label><span class="required">*</span>

                                <input type="password" class="form-control" name="new-password" id="confirmPassword" placeholder="@ViewBag.lblNhapLaiMatKhauMoi">

                                <span id="confirmIcon" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password toogle-icon"></span>
                            </div>

                            <button class="btn btn-warning btn-lg btn-submit " onclick="submitChangePassword()">@ViewBag.lblDoiMatKhau</button>



                        </div> 

                        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4 no-padding lock-img-acount-setting">
                            <img class="img-responsive " src="/images/CreatePasswordIcon.bmp" style="padding: 0px !important">
                        </div>
                    </div>
                </div>
                <!-- Change Password : End -->
            </div>
            <div role="tabpanel" class="tab-pane" id="tab1">
                <div class="login">
                    <div class="row panel-content">
                        <h3 style="margin-bottom:10px !important"> @ViewBag.lblQuanLySuKien</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 id="first-tittle">@ViewBag.lblSuKienDaDangKyThamGia (<span id="number-of-event">@ViewBag.listPostEventUserJoin.Count</span>) </h4>
                            <div style="margin-bottom : 50px;">
                                @for (int i = 0; i < ViewBag.listPostEventUserJoin.Count; i++)
                                {
                                    var item = ViewBag.listPostEventUserJoin[i];
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 Event_Image">
                                            <img class="imageItem" style="width: 100%" src="@item.Photo" />
                                            <p class="PlayButton"><a href="/chi-tiet-su-kien/@item.Url"><i class="fas fa-play" style="font-size: 18px;"></i></a></p>
                                        </div>

                                        <div class="col-xs- col-sm-8 col-md-8 col-lg-8 EventContext ">
                                            <a class="ellipsis2" href="/chi-tiet-su-kien/@item.Url">@item.Name</a>
                                            <p class="event-management-icon"><i class="fas fa-calendar"></i><span style="padding-left : 5px">@item.OpenTime - @item.ClosedTime</span></p>
                                            <p class="event-management-icon"><i class="fas fa-map-marker-alt"></i> <span style="padding-left : 5px">@item.EventAddress</span></p><br>
                                                <a href="/chi-tiet-su-kien/@item.Url"><button type="button" class="btn btn-warning btn-lg" style="padding: 10px 35px !important;">@ViewBag.lblChiTietSuKien</button></a>
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                            
                        </div>
                    </div>

                </div>  


            </div>
        </div>
    </div>
</div>

<script>
    function changeInfo() {
        //debugger;
        Swal.fire({
            title: 'Xác nhận thay đổi thông tin cá nhân',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#443',
            confirmButtonText: 'Xác nhận!',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                var updatingObj = {
                    "id": @Model.Id,
                    "accountTypeID": @Model.AccountTypeID,
                    "active": 1,
                    "name": "@Html.Raw(Model.Name)",
                    "email": "@Model.Email",
                    "username": "@Model.Username",
                    "password": "@Model.Password",
                    "description": "@Html.Raw(Model.Description)",
                    "info": "@Html.Raw(Model.Info)",
                    "createdTime": "@Model.CreatedTime",
                    "address": "@Html.Raw(Model.Address)",
                    "isActivated": 1,
                    "photo": $('#imageAvatar').attr('src'),
                    "phone": $("#PhoneNumber").val(),
                    "idCardNumber": $("#IdCardNumber").val(),
                    "companyName": $("#CompanyName").val(),
                    "companyNumber": $("#CompanyNumber").val(),
                    "googleId": '@Model.GoogleId',
                    "facebookId": '@Model.FacebookId',

                };
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/Account/api/Update",
                        data: JSON.stringify(updatingObj),
                        success: function (responseData) {
                            // debugger;
                            if (responseData.status == 200 && responseData.message === "SUCCESS") {
                                Swal.fire({
                                    title: 'Cập nhật thông tin thành công',
                                    type: 'success',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'OK!',
                                }).then((result) => {
                                    if (result.value) {
                                        window.location.reload()
                                    }
                                })

                            }
                        },
                        error: function (e) {
                            console.log(e.message);
                        }
                    });
                

            }
        })

    }

    @*function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
    }*@
</script>


<script>
    function submitChangePassword() {
        var olpassword = $("#oldPassword").val();
        var newpassword = $("#newsPassword").val();
        var confirmpassword = $("#confirmPassword").val();
        if ((olpassword.length == 0) || (newpassword.length == 0) || (confirmpassword.length == 0)) {

            Swal.fire(
                'Lỗi',
                'Mật khẩu chưa nhập đầy đủ!',
                'info'
            );
        }
        else if (newpassword.length < 6) {

            Swal.fire(
                'Lỗi',
                'Độ dài tối thiểu của mật khẩu là 6 ký tự',
                'info'
            );
        }
        else if (newpassword != confirmpassword) {

            Swal.fire(
                'Lỗi',
                'Mật khẩu mới không trùng khớp. Hãy thử lại!',
                'info'
            );
        }

        else {
            ChangePassword(olpassword, newpassword);
        }
    }

    //debugger;
    function ChangePassword(olpassword, newpassword) {
        var obj = {
            "id": 1,
            "accountTypeID": 1,
            "active": 1,
            "name": "",
            "email": "",
            "username": "",
            "password": newpassword,
            "photo": "",
            "description": olpassword,
            "info": "",
            "createdTime": "@Model.CreatedTime",
            "phone": "",
            "address": ""

        };
        console.log(obj);
        //debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/Account/api/ChangePassword",
            data: JSON.stringify(obj),
            success: function (responseData) {

                console.log(responseData);
                //debugger;
                if (responseData.status == 200 && responseData.message === "SUCCESS") {
                    Swal.fire(
                        'Thành công',
                        'Cập nhật mật khẩu thành công!',
                        'success'
                    );

                }
                if (responseData.status == 200 && responseData.message === "INCORRECT") {
                    Swal.fire(
                        'Lỗi',
                        'Mật khẩu không chính xác.',
                        'error'
                    );

                }

            },
            error: function (e) {
                //console.log(e.message);
                Swal.fire(
                    'Lỗi',
                    'Vui lòng kiểm tra lại thông tin đã nhập',
                    'error'
                );
            }
        });
    }

</script>

 <script>
    // Script for the eye in password

    $("#oldIcon").click(function () {
        $(this).toggleClass("fa-eye-slash");
        var x = document.getElementById("oldPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    });

    // Script for the eye in password

    $("#newsIcon").click(function () {
        $(this).toggleClass("fa-eye-slash");
        var x = document.getElementById("newsPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    });

    // Script for the eye in password

    $("#confirmIcon").click(function () {
        $(this).toggleClass("fa-eye-slash");
        var x = document.getElementById("confirmPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    });
</script>

<!-- Script Start -->

<script>
    /* Script for Navbar changes NavPanes : Start */
    //$(document).ready(function () {
    //    function getEventTarget(e) {
    //        e = e || window.event;
    //        return e.target || e.srcElement;
    //    };
    //    var ul = document.getElementById('privacy-ul');
    //    ul.onclick = function (event) {
    //        // debugger
    //        var listLiInUl = $("li[role=presentation]");
    //        for (var i = 0; i < listLiInUl.length; i++) {
    //            var item = listLiInUl[i];
    //            if (item.className == "active") {
    //                var childInLi = item.lastElementChild;
    //                var iconInLi = childInLi.lastElementChild.className = 'fa-solid fa-arrow-right icon-navbar';
    //            }
    //        }
    //        var target = getEventTarget(event);
    //        target.lastElementChild.className = 'fa-solid fa-arrow-right show icon-navbar';
    //    };
    //});


    setTimeout(function(){ 
        // hàm sự kiện click vào thẻ <li>    
        $("li.tab-contain").click(function(){ 
            // xử lí xóa class show
            $(".fa-solid.fa-arrow-right").removeClass("show");
            // xử lí thêm class show vào trong thẻ <li>
            $(this).children().children().addClass("show");
        });
    }, 1000);
    /* Script for Navbar changes NavPanes : End */

    /* Upload image : Start */
    $(document).ready(function () {

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
    /* Upload image : End */
</script>

<script>
// nhấn vào tab chuyển page
    $(function () {
        debugger;
       var activeTab = $('[href=' + location.hash + ']');
       activeTab && activeTab.tab('show');
       //debugger;
       //var path = '.icon-' + location.href.split('#')[1];
       //$('path').addClass("show");
    });
</script>


<!-- Script End -->