@{
    Layout = null;
}

<!-- CSS Start -->
    <style>
        



        .navbar-default .navbar-toggle:focus,
        .navbar-default .navbar-toggle:hover {
            background-color: white;
        }

        .navbar {
            margin-bottom: 0px;
        }
    </style>

    <!--CSS TABS Start-->
    <style>
        /* CSS in tab bar : Start */

    .nav-tabs-privacy > li > a {
        line-height: 1.428571;
        padding: 20px 10px;
        letter-spacing: 1px;
        font-size: 18px;
    }

    ul.nav-tabs-privacy {
        box-shadow: 0px 0px 10px #ccc;
    }

    .nav-tabs-privacy li {
        width: 100%;
        
        background-color: #E9F4F5;
        color: #265178;
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: #ccc;
    }

    .nav-tabs-privacy > li.active > a,
    .nav-tabs-privacy > li.active > a:focus,
    .nav-tabs-privacy > li.active > a:hover {
        background-color: #0D9CC9;
        color: white;
    }

    .fa-arrow-right {
        float: right;
        display: none;
    }

        .fa-arrow-right.show {
            display: block;
        }

    i.icon-navbar {
        padding-top: 3px;
        pointer-events: none;
    }
    /* CSS in tab bar : End */
        

        /* CSS inside content panels : Start */
        .tab-pane h2#first-tittle {
            margin-top: 0px;
            margin-bottom: 3rem;
        }

        .tab-pane {
            
            color: #265178;
        }

        .tab-pane p , .tab-pane li {
            font-size : 17px; 
            text-align : justify;
        }
        /* CSS inside content panels : Ends */
    </style>
    <!-- CSS End -->

    <!-- Responsive for tabbar : start-->
<style>
    /* Tablet */
    @@media (max-width : 768px) {
        .container-nopadding-aboutus {
             padding : 0;
        }

        #privacy-navbar {
            margin-bottom : 20px;
            display : block;
        }

        .container-page {
            padding : 0;
        }
    } 
</style>
<!-- Responsive for tabbar : end-->
    

    <!-- Content Tabbar and tabPanes-->

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-nopadding-aboutus" style="margin-bottom: 50px;">



            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xlg-3">
                

                <div class="collapse navbar-collapse" id="privacy-navbar">
                    <ul class="nav nav-tabs-privacy flex-column" id="privacy-ul" role="tablist"
                        style="text-transform: uppercase;">
                        <li class="tab-contain" role="presentation">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                               @ViewBag.lblQuyDinhVaDieuKhoan <i class="fa-solid fa-arrow-right icon-navbar"></i>
                            </a>
                        </li>
                        <li role="presentation" class="active tab-contain">
                            <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">
                                @ViewBag.lblChinhSachBaoMat <i class="fa-solid fa-arrow-right icon-navbar show"></i>
                            </a>
                        </li>
                        <li class="tab-contain" role="presentation">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
                                @ViewBag.lblSoDoWeb<i class="fa-solid fa-arrow-right icon-navbar"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xlg-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="home">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h2 id="first-tittle">@ViewBag.lblQuyDinhVaDieuKhoan</h2>

                            <p>
                                @ViewBag.lblNoiDungPrivacy2
                            </p>
                            <p>
                                @ViewBag.lblNoiDungWebsite1
                            </p>
                            <p>
                                @ViewBag.lblNoiDungPrivacy1
                            </p>

                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane active" id="tab">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 id="first-tittle">@ViewBag.lblChinhSachBaoMat</h2>
                            <p>
                                @ViewBag.lblNoiDungPrivacy1
                            </p>
                            <p>
                                @ViewBag.lblNoiDungPrivacy2
                            </p>
                            <p>
                                @ViewBag.lblNoiDungPrivacy3
                            </p>
                            <h3> @ViewBag.lblHowUCanAccept </h3>
                            <p>
                                @ViewBag.lblNoiDungWebsite4
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h2 id="first-tittle">@ViewBag.lblSoDoWeb</h2>
                            <p>
                                @ViewBag.lblNoiDungWebsite1
                            </p>
                            <p>
                                @ViewBag.lblNoiDungWebsite2

                            </p>
                            <p>
                                @ViewBag.lblNoiDungWebsite3
                            </p>
                            <h3> @ViewBag.lblHowUCanAccept </h3>
                            <p>
                                @ViewBag.lblNoiDungWebsite4
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Script Start -->
    <!-- Script for Navbar changes NavPanes -->
    <script>
        //$(document).ready(function () {
        //    function getEventTarget(e) {
        //        e = e || window.event;
        //        return e.target || e.srcElement;
        //    };
        //    var ul = document.getElementById('privacy-ul');
        //    ul.onclick = function (event) {
        //        // debugger
        //        var listLiInUl = $("li[role=presentation]");
        //        for (var i = 0; i < listLiInUl.length; i++) {
        //            var item = listLiInUl[i];
        //            if (item.className == "active") {
        //                var childInLi = item.lastElementChild;
        //                var iconInLi = childInLi.lastElementChild.className = 'fa-solid fa-arrow-right icon-navbar';
        //            }
        //        }
        //        var target = getEventTarget(event);
        //        target.lastElementChild.className = 'fa-solid fa-arrow-right show icon-navbar';
        //    };
        //});

        setTimeout(function(){ 
        // hàm sự kiện click vào thẻ <li>    
        $("li.tab-contain").click(function(){ 
            // xử lí xóa class show
            $(".fa-solid.fa-arrow-right").removeClass("show");
            // xử lí thêm class show vào trong thẻ <li>
            $(this).children().children().addClass("show");
        });
    }, 1000);
    </script>
    <!-- Script End -->