
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US"> 
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Gapping World | @ViewBag.Title</title>

    <meta property="og:title" content="Gapping World | @ViewBag.Title">
    <meta property="og:description" content="Gapping World | @ViewBag.Description">
    <meta property="og:image" content="@ViewBag.Photo.Replace(" ","%20")">

    <!-- INCLUDE 1 - LIBRARIES -->
    @*<?php include_once("reusable/library.php") ?>*@
    <partial name="GWComponent/_Library" />

</head>
<body class="post-template-default single single-post postid-1816 single-format-video header-1">
    <div class="site-wrapper">
        <!-- INCLUDE 2 - HEADER  -->
        @*<?php include_once("reusable/header.php") ?>*@
        <partial name="GWComponent/_Header" />

        <partial name="GWComponent/_HomePage_TagList" />
        <div class="site-content single-entry ">

            <!-- INCLUDE 3 - HEADER VIDEO  -->
            @*<?php include_once("reusable/8-headerVideo.php") ?>*@
            <partial name="GWComponent/_8_HeaderVideo" />

            <div class="mnmd-block mnmd-block--fullwidth single-entry-wrap">
                <div class="container">
                    <div class="row">
                        <div class="mnmd-main-col " role="main">
                            <!-- INCLUDE 12 - POST BODY -->
                            @*<?php include_once("reusable/postBody.php") ?>*@
                            <partial name="GWComponent/_PostBody_2_Title_Top" />

                            @RenderBody()

                            <!-- INCLUDE 11 - AUTHOR -->
                            @*<?php include_once("reusable/author.php") ?>*@
                            <partial name="GWComponent/_Author" />

                            <!-- INCLUDE 10 - YOU MAY ALSO LIKE -->
                            @*<?php include_once("reusable/youMayAlsoLike.php") ?>*@
                            <partial name="GWComponent/_YouMayAlsoLike" />

                            <!-- INCLUDE 9 - COMMENT -->
                            @*<?php include_once("reusable/comment.php") ?>*@
                            <partial name="GWComponent/_Comment" />

                            <!-- INCLUDE 9 - MORE IN CATEGORY -->
                            @*<?php include_once("reusable/4-moreInNation.php") ?>*@
                            <partial name="GWComponent/_MoreInCategory" />

                        </div>

                        <div class="mnmd-sub-col sidebar js-sticky-sidebar" role="complementary">
                            <div class="theiaStickySidebar">

                                <!-- INCLUDE 13 - SIDE CONTENT LATES -->
                                @*<?php include_once("reusable/sideContentLates.php") ?>*@
                                <partial name="GWComponent/_SideContentLates" />

                                <!-- INCLUDE 14 - SIDE CONTENT POPULAR -->
                                @*<?php include_once("reusable/sideContentPopular.php") ?>*@
                                <partial name="GWComponent/_SideContentPopular" />

                            </div>
                        </div>

                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .mnmd-block -->
        </div><!-- .site-content -->
        <!-- INCLUDE 4 - FOOTER -->
        @*<?php include_once("reusable/footer.php") ?>*@
        <partial name="GWComponent/_Footer" />

        <!-- INCLUDE 5 - STICKY HEADER -->
        @*<?php include_once("reusable/stickyHeader.php") ?>*@
        <partial name="GWComponent/_StickyHeader" />

        <!-- INCLUDE 7 - USER MODAL -->
        @*<?php include_once("reusable/userModal.php") ?>*@
        <partial name="GWComponent/_UserModal" />

        <!-- INCLUDE 6 - CANVAS MENU -->
        @*<?php include_once("reusable/canvasMenu.php") ?>*@
        <partial name="GWComponent/_CanvasMenu" />

        <!-- INCLUDE 8 - SUBSCRIBE MODAL -->
        @*<?php include_once("reusable/subscribeModal.php") ?>*@
        <partial name="GWComponent/_SubscribeModal" />

        <!-- go top button -->
        <a href="#" class="mnmd-go-top btn btn-default hidden-xs js-go-top-el">
            <i class="mdicon mdicon-arrow_upward"></i>
        </a>
    </div>
    <!-- .site-wrapper -->
    <!-- INCLUDE 2 - JAVASCRIPT -->
    @*<?php include_once("reusable/javascript.php") ?>*@
    <partial name="GWComponent/_Javascript" />
    <partial name="GWComponent/_JSFavouritePost" />

    @RenderSection("Scripts", required: false)
</body>
</html>
