
@{
    Layout = null;
}

<!-- Off-canvas menu -->
<div id="mnmd-offcanvas-primary" class="mnmd-offcanvas js-mnmd-offcanvas js-perfect-scrollbar">
    <div class="mnmd-offcanvas__title">
        <h2 class="site-logo">
            <a href="@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description">
                <!-- logo open -->
                <img src="@ViewBag.SystemConfigs["LOGO_HEADER"].Description" alt="logo" />
                <!-- logo close -->
            </a>
        </h2>
        <ul class="social-list list-horizontal">
            <li><a href="@ViewBag.SystemConfigs["LINK_FACEBOOK"].Description" target="_blank"><i class="mdicon mdicon-facebook"></i></a></li>
            <li><a href="@ViewBag.SystemConfigs["LINK_TWITTER"].Description" target="_blank"><i class="mdicon mdicon-twitter"></i></a></li>
            @*<li><a href="@ViewBag.SystemConfigs["LINK_GOOGLE"].Description" target="_blank"><i class="mdicon mdicon-google-plus"></i></a></li>*@
            <li>@*<a href="@ViewBag.SystemConfigs["LINK_INSTAGRAM"].Description" target="_blank"><i class="mdicon mdicon-instagram"></i></a>*@</li>
        </ul>
        <a href="#mnmd-offcanvas-primary" class="mnmd-offcanvas-close js-mnmd-offcanvas-close" aria-label="Close"><span aria-hidden="true">&#10005;</span></a>
    </div>

    <div class="mnmd-offcanvas__section mnmd-offcanvas__section-navigation">
        <div id="offcanvas-menu-desktop" class="menu-main-menu-container">
            <ul id="menu-main-menu-2" class="navigation navigation--offcanvas">
                <ul style="margin-left:5%" id="menu-Language-VI" class="navigation navigation--main navigation--inline menu-Language-VI">
                                <li id="menu-item-1913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                                    <a id="novatic-Language-Vi" href="" onclick="ChangeVI()" hreflang="vi" title="Tiếng Việt (vi)" class="qtranxs_image qtranxs_image_vi novaticLanguage novatic-Language-Vi">
                                        VI
                                        <span style="display:none">Tiếng Việt</span>
                                    </a>
                                    <!-- Close mnmd-menu -->
                                </li>
                            </ul>

                            <ul id="menu-Language-EN" class="navigation navigation--main navigation--inline menu-Language-EN">
                                <li id="menu-item-1913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                                    <a id="" href="" onclick="ChangeEN()" hreflang="en" title="English (en)" class="qtranxs_image qtranxs_image_en novaticLanguage novatic-Language-En">
                                        EN
                                        <span style="display:none">English</span>
                                    </a>
                                    <!-- Close mnmd-menu -->
                                </li>
                            </ul>
               

                @{

                    foreach (var obj in ViewBag.MenuList)
                    {
                        int hasChild = 0;
                        string childContent = "";
                        if (obj.GroupID == 1)
                        {
                            foreach (var obj2 in ViewBag.MenuList)
                            {
                                if (obj2.ParentId == obj.Id)
                                {
                                    hasChild = 1;
                                    childContent += " <li class='menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-1990'><a href='/"+@obj2.Url+"'>" + obj2.Name + "</a></li>";
                                }
                            }

                        }
                        //kiem tra la cha
                        if (hasChild == 0  && obj.ParentId == 0)
                        {
                            <li class='menu-item menu-item-type-custom menu-item-object-custom menu-item-2079'><a href='../home-1/index.html'>@obj.Name</a></li>
                        }
                        //kiem tra co con
                        else if (hasChild == 1)
                        {
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                                <a href="~/@obj.Url">@obj.Name</a>
                                <ul class="sub-menu">
                                    @Html.Raw(childContent)
                                </ul>
                            </li>
                        }


                    }

                    if (ViewBag.UserName != null)
                    {
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                            <a>@ViewBag.UserFullname</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}profile">Thông tin cá nhân</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}AdvancedSearch">Tìm kiếm nâng cao</a></li>

                                @{
                                   if (@ViewBag.UserTypeID == 10001)
                                     {
                                       <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2081"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}admin">Trang quản trị</a></li>
                                     }
                                 }

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}logout2">Logout</a></li>
                            </ul>
                        </li>
                    }
                }


                @*<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Hàng hóa</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Xu hướng - Dự báo</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Đầu tư</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Chính sách</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Công nghệ</a>
                    </li>*@

                @*
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                        <a href="">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="../home-1/index.html">Home 1</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2081"><a href="../home-2/indexb70f.html?header=site-header-2&amp;footer=footer-2">Home 2</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2082"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Home 3</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2083"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Home 4</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2084"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Home 5</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2085"><a href="../home-6/indexb110.html?header=site-header-7&amp;footer=footer-2">Home 6</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2086"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Home 7</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2087"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Home 8</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2301"><a href="http://thenextmag.bk-ninja.com/tnm_tech/">Tech</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2300"><a href="http://thenextmag.bk-ninja.com/tnm_business">Business</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2302"><a href="http://thenextmag.bk-ninja.com/tnm_sport/">Sport</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2303"><a href="http://thenextmag.bk-ninja.com/tnm_crypto/">Crypto</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-1985">
                        <a href="">Features</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                                <a href="">Post templates</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-1990"><a href="index.html">Title top</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2000"><a href="../best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Title top wide</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2291"><a href="../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html">Title top wide left sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1995"><a href="../the-best-sights-and-bites-in-hong-kong-readers-travel-tips/index.html">Title top wide no sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1994"><a href="../what-to-expect-when-you-stay-at-a-motel/index.html">Featured image top</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1996"><a href="../ubc-researchers-use-drones-to-track-jellyfish-blooms/index.html">Featured image top wide</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1997"><a href="../delhi-airport-ranked-number-1-in-world-in-service-quality/index.html">Featured image top no sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1998"><a href="../after-years-of-problems-nasas-robonaut-is-coming-home/index.html">Header w/ background</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1999"><a href="../this-city-has-the-hardest-working-people-in-the-united-states/index.html">Header w/ background no sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1987">
                                <a href="">Post templates</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2001"><a href="../whos-afraid-of-trump-not-enough-republicans-at-least-for-now/index.html">Header w/ background alt</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2003"><a href="../apple-watch-what-does-the-future-hold/index.html">Header w/ background alt light</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2002"><a href="../hiking-in-vietnam-10-trails-with-the-most-picturesque-views/index.html">Header w/ background alt no sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2004"><a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Billboard</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2005"><a href="../forces-of-nature-gather-in-a-new-fashion-exhibition-at-fit/index.html">Billboard center</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2006"><a href="../how-to-start-a-coffee-shop-that-will-be-a-great-success/index.html">Billboard no sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2008"><a href="../overtourism-and-the-big-chill-travel-trends-in-2018/index.html">Billboard blur</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2007"><a href="../best-places-around-the-world-to-go-kayaking/index.html">Billboard blur center</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2009"><a href="../apple-report-reveals-expensive-new-iphone-secret/index.html">Billboard blur no sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1988">
                                <a href="">Post examples</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2011"><a href="../dubrovnik-croatian-city-by-the-sea-has-it-all-but-hidden-away/index.html">Gallery</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2012"><a href="../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html">Video</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2013"><a href="../the-top-trends-for-summer-wedding-dressing/index.html">Video no sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2014"><a href="../texas-mens-tennis-team-sweeps-pennsylvania/index.html">Video w/ list</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2015"><a href="../apple-iphone-x-review-the-best-iphone-challenges-you-to-think-different/index.html">Review</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2016"><a href="../dell-xps-13-review-2018-still-the-best-windows-laptop-2/index.html">Review aside</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2019"><a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html">Paginated</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2267"><a href="../understanding-your-dog-for-dummies-cheatsheet/index.html">Typography</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989">
                                <a href="">Page templates</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2021"><a href="../lost.html">404</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2022"><a href="../author/gappingworld/index.html">Author</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"><a href="../authors-list/index.html">Authors list</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2051 menu-item-cat-190"><a href="../category/tech/index.html">Category 1</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2276 menu-item-cat-193"><a href="../category/travel/index.html">Category 2</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2278 menu-item-cat-195"><a href="../category/sports/index.html">Category 3</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2279 menu-item-cat-192"><a href="../category/business/index.html">Category 4</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2048"><a href="../coming-soon/index.html">Coming soon</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2096"><a href="../shortcodes/index.html">Shortcodes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2026">
                        <a href="">More</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2035">
                                <a href="">Header examples</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2027"><a href="../index.html">Header 1</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2028"><a href="../home-2/indexb70f.html?header=site-header-2&amp;footer=footer-2">Header 2</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2029"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Header 3</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2030"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Header 4</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2031"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Header 5</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2032"><a href="../home-6/indexb110.html?header=site-header-7&amp;footer=footer-2">Header 6</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2033"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Header 7</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2034"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Header 8</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2036">
                                <a href="">Footer examples</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2037"><a href="../index.html">Footer 1</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2039"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Footer 2</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2040"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Footer 3</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2041"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Footer 4</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2042"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Footer 5</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2043"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Footer 6</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2049">
                                <a href="">Archive templates</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2050 menu-item-cat-193"><a href="../category/travel/index.html">List</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2052 menu-item-cat-190"><a href="../category/tech/index.html">List alt 1</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2053 menu-item-cat-194"><a href="../category/news/index.html">List alt 2</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2054 menu-item-cat-192"><a href="../category/business/index.html">List alt 3</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2055 menu-item-cat-195"><a href="../category/sports/index.html">Grid</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2056 menu-item-cat-191"><a href="../category/life/index.html">Grid alt</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2057">
                                <a href="">Others</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2064"><a href="../page-builder-blocks-content-section/index.html">Page builder blocks – Content section</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2065"><a href="../page-builder-blocks-full-width-section/index.html">Page builder blocks – Full width section</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2068"><a href="../page-builder-blocks-content-section/index.html">Widgets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2069 menu-item-cat-193"><a href="../category/travel/index.html">Travel</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2070 menu-item-cat-213"><a href="../category/tech/review/index.html">Review</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2111 menu-item-cat-190"><a href="../category/tech/index.html">Tech</a></li>


                *@

            </ul>
        </div>
    </div>
    @{
        if (ViewBag.UserName == null)
        {
        <div class="mnmd-offcanvas__section">
                <div class="text-center">
                    @*<a href="#login-modal" class="btn btn-default" data-toggle="modal" data-target="#login-modal" style="margin-right: 10px !important;"><i class="mdicon mdicon-person mdicon--first"></i><span>@ViewBag.lblDangKy</span></a>
                    <a href="/login" class="btn btn-default" style="margin-left: 10px !important;"><i class="mdicon mdicon-person mdicon--first"></i><span>@ViewBag.lblDangNhap</span></a>*@
                    <a href="/login" class="btn btn-default" ><i class="mdicon mdicon-person mdicon--first"></i><span>@ViewBag.lblDangNhap/@ViewBag.lblDangKy</span></a>
                </div>
        </div>
        }
    }

    <div class="mnmd-offcanvas__section">
        <div id="bk_widget_posts_list-25" class="widget mnmd-widget">
            <div class="mnmd-widget-indexed-posts-a">
                <div class="widget__title block-heading ">
                    <h4 class="widget__title-text">@ViewBag.lblBaiVietPhoBien</h4>
                </div>
                <ol class="posts-list list-space-sm list-unstyled">
                    @{
                        foreach (var obj in ViewBag.PopularList)
                        {
                            <li>
                                <article class="post post--horizontal post--horizontal-xxs">
                                    <div class="post__thumb " style="width: 100px">
                                        <a title="@obj.Name" href="~/@obj.Url"><img width="180" height="180" style="height:70px; width:100px;" src="@obj.Photo" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                        <!-- close a tag -->
                                    </div>
                                    <div class="post__text ">
                                        <h3 class="post__title typescale-0"><a title="@obj.Name" href="~/@obj.Url">@obj.Name</a></h3>
                                        <div class="post__meta">
                                            <time class="time published" datetime="@obj.PublishedTime" title="@obj.PublishedTime"><i class="mdicon mdicon-schedule"></i>@obj.PublishedTime</time>@*<span><i class="mdicon mdicon-visibility"></i>@obj.ViewCount @ViewBag.lblLuotXem</span>*@
                                        </div>
                                    </div>
                                </article>
                            </li>
                        }
                    }

                    @*
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../apple-watch-what-does-the-future-hold/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-180x180.jpg 180w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-150x150.jpg 150w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-400x400.jpg 400w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../apple-watch-what-does-the-future-hold/index.html">Apple Watch: What does the future hold?</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-07T10:48:07+00:00" title="March 7, 2018 at 10:48 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><i class="mdicon mdicon-visibility"></i>3035 views</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../best-4k-camera-drones-to-create-stunning-aerial-film/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/pexels-photo-67699-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-67699-1-180x180.jpg 180w, /files/frontend/images/upload/pexels-photo-67699-1-150x150.jpg 150w, /files/frontend/images/upload/pexels-photo-67699-1-400x400.jpg 400w, /files/frontend/images/upload/pexels-photo-67699-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Best 4K Camera Drones To Create Stunning Aerial Film</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-07T08:52:52+00:00" title="March 7, 2018 at 8:52 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><i class="mdicon mdicon-visibility"></i>2931 views</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-180x180.jpg 180w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-150x150.jpg 150w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-400x400.jpg 400w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html">Family-owned florist business looks to bloom in Chestertown</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T08:12:29+00:00" title="March 8, 2018 at 8:12 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><i class="mdicon mdicon-visibility"></i>2872 views</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg 180w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-150x150.jpg 150w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-400x400.jpg 400w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T07:23:55+00:00" title="March 8, 2018 at 7:23 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><i class="mdicon mdicon-visibility"></i>2557 views</span>
                                    </div>
                                </div>
                            </article>
                        </li>

                    *@
                </ol>
            </div>
            <!-- End Widget Module-->
        </div>
    </div>

    @*<div class="mnmd-offcanvas__section visible-xs visible-sm">
        <div class="text-center">
            <a href="#login-modal" class="btn btn-default" data-toggle="modal" data-target="#login-modal"><i class="mdicon mdicon-person mdicon--first"></i><span>Login/Sign up</span></a>
        </div>
    </div>*@
</div>
<!-- Off-canvas menu -->
<!-- Off-canvas menu -->
<div id="mnmd-offcanvas-mobile" class="mnmd-offcanvas js-mnmd-offcanvas js-perfect-scrollbar">
    <div class="mnmd-offcanvas__title">
        <h2 class="site-logo">
            <a href="">
                <!-- logo open -->
                <img src="@ViewBag.SystemConfigs["LOGO_MOBILE"].Description" alt="logo" />
                <!-- logo close -->

            </a>
        </h2>
        <ul class="social-list list-horizontal">
        </ul>
        <a href="#mnmd-offcanvas-mobile" class="mnmd-offcanvas-close js-mnmd-offcanvas-close" aria-label="Close"><span aria-hidden="true">&#10005;</span></a>
    </div>

    <div class="mnmd-offcanvas__section mnmd-offcanvas__section-navigation">
        <div id="offcanvas-menu-mobile" class="menu-main-menu-container">
            <ul id="menu-main-menu-3" class="navigation navigation--offcanvas">
                <ul style="margin-left:5%" id="menu-Language-VI" class="navigation navigation--main navigation--inline menu-Language-VI">
                                <li id="menu-item-1913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                                    <a id="novatic-Language-Vi" href="" onclick="ChangeVI()" hreflang="vi" title="Tiếng Việt (vi)" class="qtranxs_image qtranxs_image_vi novaticLanguage novatic-Language-Vi">
                                        VI
                                        <span style="display:none">Tiếng Việt</span>
                                    </a>
                                    <!-- Close mnmd-menu -->
                                </li>
                            </ul>

                            <ul id="menu-Language-EN" class="navigation navigation--main navigation--inline menu-Language-EN">
                                <li id="menu-item-1913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
                                    <a id="" href="" onclick="ChangeEN()" hreflang="en" title="English (en)" class="qtranxs_image qtranxs_image_en novaticLanguage novatic-Language-En">
                                        EN
                                        <span style="display:none">English</span>
                                    </a>
                                    <!-- Close mnmd-menu -->
                                </li>
                            </ul>

                @{

                    foreach (var obj in ViewBag.MenuList)
                    {
                        int hasChild = 0;
                        string childContent = "";
                        if (obj.GroupID == 1)
                        {
                            foreach (var obj2 in ViewBag.MenuList)
                            {
                                if (obj2.ParentId == obj.Id)
                                {
                                    hasChild = 1;
                                    childContent += " <li class='menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-1990'><a href='/"+@obj2.Url+"'>" + obj2.Name + "</a></li>";
                                }
                            }

                        }
                        //kiem tra la cha
                        if (hasChild == 0  && obj.ParentId == 0)
                        {
                            <li class='menu-item menu-item-type-custom menu-item-object-custom menu-item-2079'><a href='../home-1/index.html'>@obj.Name</a></li>
                        }
                        //kiem tra co con
                        else if (hasChild == 1)
                        {
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                                <a href="~/@obj.Url">@obj.Name</a>
                                <ul class="sub-menu">
                                    @Html.Raw(childContent)
                                </ul>
                            </li>
                        }


                    }
                    if (ViewBag.UserName != null)
                    {
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                            <a>@ViewBag.UserFullname</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}profile">Thông tin cá nhân</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}AdvancedSearch">Tìm kiếm nâng cao</a></li>
                                @{
                                   if (@ViewBag.UserTypeID == 10001)
                                     {
                                       <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2081"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}admin">Trang quản trị</a></li>
                                     }
                                 }
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="@{@ViewBag.SystemConfigs["HOMEPAGE_URL"].Description}logout2">Logout</a></li>
                            </ul>
                        </li>
                    }
                }

                @*
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1913">
            <a href="">Home</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2079"><a href="../home-1/index.html">Home 1</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2081"><a href="../home-2/indexb70f.html?header=site-header-2&amp;footer=footer-2">Home 2</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2082"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Home 3</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2083"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Home 4</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2084"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Home 5</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2085"><a href="../home-6/indexb110.html?header=site-header-7&amp;footer=footer-2">Home 6</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2086"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Home 7</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2087"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Home 8</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2301"><a href="http://thenextmag.bk-ninja.com/tnm_tech/">Tech</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2300"><a href="http://thenextmag.bk-ninja.com/tnm_business">Business</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2302"><a href="http://thenextmag.bk-ninja.com/tnm_sport/">Sport</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2303"><a href="http://thenextmag.bk-ninja.com/tnm_crypto/">Crypto</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-1985">
            <a href="">Features</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1986">
                    <a href="">Post templates</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-1990"><a href="index.html">Title top</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2000"><a href="../best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Title top wide</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2291"><a href="../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html">Title top wide left sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1995"><a href="../the-best-sights-and-bites-in-hong-kong-readers-travel-tips/index.html">Title top wide no sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1994"><a href="../what-to-expect-when-you-stay-at-a-motel/index.html">Featured image top</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1996"><a href="../ubc-researchers-use-drones-to-track-jellyfish-blooms/index.html">Featured image top wide</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1997"><a href="../delhi-airport-ranked-number-1-in-world-in-service-quality/index.html">Featured image top no sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1998"><a href="../after-years-of-problems-nasas-robonaut-is-coming-home/index.html">Header w/ background</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1999"><a href="../this-city-has-the-hardest-working-people-in-the-united-states/index.html">Header w/ background no sidebar</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1987">
                    <a href="">Post templates</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2001"><a href="../whos-afraid-of-trump-not-enough-republicans-at-least-for-now/index.html">Header w/ background alt</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2003"><a href="../apple-watch-what-does-the-future-hold/index.html">Header w/ background alt light</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2002"><a href="../hiking-in-vietnam-10-trails-with-the-most-picturesque-views/index.html">Header w/ background alt no sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2004"><a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Billboard</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2005"><a href="../forces-of-nature-gather-in-a-new-fashion-exhibition-at-fit/index.html">Billboard center</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2006"><a href="../how-to-start-a-coffee-shop-that-will-be-a-great-success/index.html">Billboard no sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2008"><a href="../overtourism-and-the-big-chill-travel-trends-in-2018/index.html">Billboard blur</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2007"><a href="../best-places-around-the-world-to-go-kayaking/index.html">Billboard blur center</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2009"><a href="../apple-report-reveals-expensive-new-iphone-secret/index.html">Billboard blur no sidebar</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1988">
                    <a href="">Post examples</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2011"><a href="../dubrovnik-croatian-city-by-the-sea-has-it-all-but-hidden-away/index.html">Gallery</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2012"><a href="../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html">Video</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2013"><a href="../the-top-trends-for-summer-wedding-dressing/index.html">Video no sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2014"><a href="../texas-mens-tennis-team-sweeps-pennsylvania/index.html">Video w/ list</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2015"><a href="../apple-iphone-x-review-the-best-iphone-challenges-you-to-think-different/index.html">Review</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2016"><a href="../dell-xps-13-review-2018-still-the-best-windows-laptop-2/index.html">Review aside</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2019"><a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html">Paginated</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2267"><a href="../understanding-your-dog-for-dummies-cheatsheet/index.html">Typography</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989">
                    <a href="">Page templates</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2021"><a href="../lost.html">404</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2022"><a href="../author/gappingworld/index.html">Author</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"><a href="../authors-list/index.html">Authors list</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2051 menu-item-cat-190"><a href="../category/tech/index.html">Category 1</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2276 menu-item-cat-193"><a href="../category/travel/index.html">Category 2</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2278 menu-item-cat-195"><a href="../category/sports/index.html">Category 3</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2279 menu-item-cat-192"><a href="../category/business/index.html">Category 4</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2048"><a href="../coming-soon/index.html">Coming soon</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2096"><a href="../shortcodes/index.html">Shortcodes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2026">
            <a href="">More</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2035">
                    <a href="">Header examples</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2027"><a href="../index.html">Header 1</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2028"><a href="../home-2/indexb70f.html?header=site-header-2&amp;footer=footer-2">Header 2</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2029"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Header 3</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2030"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Header 4</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2031"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Header 5</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2032"><a href="../home-6/indexb110.html?header=site-header-7&amp;footer=footer-2">Header 6</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2033"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Header 7</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2034"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Header 8</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2036">
                    <a href="">Footer examples</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2037"><a href="../index.html">Footer 1</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2039"><a href="../home-3/index1bb7.html?header=site-header-3&amp;footer=footer-3">Footer 2</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2040"><a href="../home-4/indexa157.html?header=site-header-5&amp;footer=footer-5">Footer 3</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2041"><a href="../home-5/index57b8.html?header=site-header-6&amp;footer=footer-6">Footer 4</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2042"><a href="../home-7/index3974.html?header=site-header-8&amp;footer=footer-8">Footer 5</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2043"><a href="../home-8/index5530.html?header=site-header-9&amp;footer=footer-6">Footer 6</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2049">
                    <a href="">Archive templates</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2050 menu-item-cat-193"><a href="../category/travel/index.html">List</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2052 menu-item-cat-190"><a href="../category/tech/index.html">List alt 1</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2053 menu-item-cat-194"><a href="../category/news/index.html">List alt 2</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2054 menu-item-cat-192"><a href="../category/business/index.html">List alt 3</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2055 menu-item-cat-195"><a href="../category/sports/index.html">Grid</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2056 menu-item-cat-191"><a href="../category/life/index.html">Grid alt</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2057">
                    <a href="">Others</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2064"><a href="../page-builder-blocks-content-section/index.html">Page builder blocks – Content section</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2065"><a href="../page-builder-blocks-full-width-section/index.html">Page builder blocks – Full width section</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2068"><a href="../page-builder-blocks-content-section/index.html">Widgets</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2069 menu-item-cat-193"><a href="../category/travel/index.html">Travel</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2070 menu-item-cat-213"><a href="../category/tech/review/index.html">Review</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2111 menu-item-cat-190"><a href="../category/tech/index.html">Tech</a></li>
                *@
            </ul>
        </div>
    </div>

    @{
        if (ViewBag.UserName == null)
        {
            <div class="mnmd-offcanvas__section">
                    <div class="text-center">
                        @*<a href="#login-modal" class="btn btn-default" data-toggle="modal" data-target="#login-modal"><i class="mdicon mdicon-person mdicon--first"></i><span>Login/Sign up</span></a>*@
                        <a href="/login" class="btn btn-default"><i class="mdicon mdicon-person mdicon--first"></i><span>@ViewBag.lblDangNhap/@ViewBag.lblDangKy</span></a>
                    </div>
            </div>
        }
    }

    <div class="mnmd-offcanvas__section">
        <div id="bk_widget_posts_list-27" class="widget mnmd-widget">
            <div class="mnmd-widget-indexed-posts-a">
                <div class="widget__title block-heading ">
                    <h4 class="widget__title-text">Popular Posts</h4>
                </div>
                <ol class="posts-list list-space-sm list-unstyled">

                    @{

                        foreach (var obj in ViewBag.PopularList)
                        {
                            <li>
                                <article class="post post--horizontal post--horizontal-xxs">
                                    <div class="post__thumb " style="width: 100px">
                                        <a href="~/@obj.Url"><img width="180" height="180" style="height:70px; width:100px;" src="@obj.Photo" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" /></a>
                                        <!-- close a tag -->
                                    </div>
                                    <div class="post__text ">
                                        <h3 class="post__title typescale-0"><a href="~/@obj.Url">@obj.Name</a></h3>
                                        <div class="post__meta">
                                            <time class="time published" datetime="@obj.PublishedTime" title="@obj.PublishedTime"><i class="mdicon mdicon-schedule"></i>@obj.PublishedTime</time>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        }
                    }


                    @*
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-180x180.jpg 180w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-150x150.jpg 150w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-400x400.jpg 400w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html">Family-owned florist business looks to bloom in Chestertown</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T08:12:29+00:00" title="March 8, 2018 at 8:12 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-180x180.jpg 180w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-150x150.jpg 150w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-400x400.jpg 400w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html">The best laptop stands: elevate your system and keep it running quick and cool</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T08:07:27+00:00" title="March 8, 2018 at 8:07 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/pexels-photo-356808-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-356808-1-180x180.jpg 180w, /files/frontend/images/upload/pexels-photo-356808-1-150x150.jpg 150w, /files/frontend/images/upload/pexels-photo-356808-1-400x400.jpg 400w, /files/frontend/images/upload/pexels-photo-356808-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html">The couple that quit their jobs to go on a six months’ road trip</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T07:54:46+00:00" title="March 8, 2018 at 7:54 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="post post--horizontal post--horizontal-xxs">
                                <div class="post__thumb ">
                                    <a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><img width="180" height="180" src="~/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg 180w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-150x150.jpg 150w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-400x400.jpg 400w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                    <!-- close a tag -->
                                </div>
                                <div class="post__text ">
                                    <h3 class="post__title typescale-0"><a href="../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>
                                    <div class="post__meta">
                                        <time class="time published" datetime="2018-03-08T07:23:55+00:00" title="March 8, 2018 at 7:23 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time>
                                    </div>
                                </div>
                            </article>
                        </li>

                    *@


                </ol>
            </div>
            <!-- End Widget Module-->
        </div>
    </div>

    @*<div class="mnmd-offcanvas__section visible-xs visible-sm">
        <div class="text-center">
            <a href="#login-modal" class="btn btn-default" data-toggle="modal" data-target="#login-modal"><i class="mdicon mdicon-person mdicon--first"></i><span>Login/Sign up</span></a>
        </div>
    </div>*@
</div>
<!-- Off-canvas menu -->