
@{
    Layout = null;
}




<div class="posts-list list-unstyled list-space-xl" id="novaticListPost">


    @{

        foreach (var obj in ViewBag.ListPostAuthor)
        {
            <div class="list-item">
                <article class="post post--horizontal post--horizontal-sm">
                    <div class="post__thumb ">
                        <a title="@obj.Name" href="~/@obj.Url">
                            <img width="400" height="300" src="@obj.Photo" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" sizes="(max-width: 400px) 100vw, 400px" />
                            @{
                                if (@obj.PostPublishStatusId == 2)
                                {
                                    <div class="overlay-item post-type-icon--inverse novaticStarListCategory novaticStarListLeft">
                                        <div class="post-score-hexagon 1967 ">
                                            <svg class="hexagon-svg " version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                                <g>
                                                    <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                                </g>
                                            </svg>
                                            <span class="post-score-value">
                                                <i class="mdicon mdicon-star "></i>
                                            </span>
                                        </div>
                                    </div>
                                }
                            }
                        </a>
                        <!-- close a tag -->
                    </div>
                    <div class="post__text ">
                        @*@{ if (obj.PostPublishStatusId == 2)
                                {
                                    <a title="@obj.Name" class="post__cat post__cat--bg cat-theme-bg novaticMembershipBackground" href="@obj.Url"><i class="novaticMembership mdicon mdicon-star"></i>Membership</a>
                                }
                            }*@
                        <a class="cat-192 post__cat cat-theme" href="/category/@obj.PostCategoryURL">@obj.PostCategoryName</a>
                        <h3 class="post__title typescale-2">
                            <a title="@obj.Name" href="~/@obj.Url">
                                @{ if (obj.PostPublishStatusId == 2)
                                    {
                                        <span>
                                            <div class="post-score-hexagon 1967 novaticStarInSlider">
                                                <svg class="hexagon-svg " version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                                    <g>
                                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                                    </g>
                                                </svg>
                                                <span class="post-score-value">
                                                    <i class="mdicon mdicon-star "></i>
                                                </span>
                                            </div>
                                        </span>
                                    }
                                }
                                @obj.Name
                            </a>
                        </h3>
                        <div class="post__excerpt ">
                            <div class="excerpt">@obj.Description</div>
                        </div>
                        <div class="post__meta">
                            <span class="entry-author"> By <a class="entry-author__name" href="@obj.PostAccountURL">@obj.PostAccountName</a></span>
                            <time class="time published" datetime="@obj.PublishedTime" title="@obj.PublishedTime"><i class="mdicon mdicon-schedule"></i>@obj.PublishedTime</time>
                        </div>
                    </div>
                </article>
            </div>
        }
    }



    @*<div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html"><img width="400" height="300" src="/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-400x300.jpg 400w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-180x135.jpg 180w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-600x450.jpg 600w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-800x600.jpg 800w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-1200x900.jpg 1200w, /files/frontend/images/upload/StockSnap_C95EBLNTPQ-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-192 post__cat cat-theme" href="../../category/business/index.html">Business</a>
                    <h3 class="post__title typescale-2"><a href="../../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html">Family-owned florist business looks to bloom in Chestertown</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T08:12:29+00:00" title="March 8, 2018 at 8:12 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../family-owned-florist-business-looks-to-bloom-in-chestertown/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html"><img width="400" height="300" src="/files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-400x300.jpg 400w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-180x135.jpg 180w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-600x450.jpg 600w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-800x600.jpg 800w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-1200x900.jpg 1200w, /files/frontend/images/upload/StockSnap_0NV2FAVPAX-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-208 post__cat cat-theme" href="../../category/tech/computer/index.html">Computer</a>
                    <h3 class="post__title typescale-2"><a href="../../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html">The best laptop stands: elevate your system and keep it running quick and cool</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">From Dell and HP to Chromebook and MacBook; keep your laptops running efficiently with handy table top and freestanding laptop stands.</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T08:07:27+00:00" title="March 8, 2018 at 8:07 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../the-best-laptop-stands-elevate-your-system-and-keep-it-running-quick-and-cool/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-356808-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-356808-1-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-356808-1-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-356808-1-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-356808-1-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-356808-1-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-356808-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="post-type-icon overlay-item post-type-icon--inverse overlay-item--sm-p"><i class="mdicon mdicon-play_circle_outline"></i></div>
                    </a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-193 post__cat cat-theme" href="../../category/travel/index.html">Travel</a>
                    <h3 class="post__title typescale-2"><a href="../../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html">The couple that quit their jobs to go on a six months’ road trip</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Eager to satiate their wanderlust, an adventure-loving couple quit jobs to embark on a six-month-long road trip.</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T07:54:46+00:00" title="March 8, 2018 at 7:54 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../the-couple-that-quit-their-jobs-to-go-on-a-six-months-road-trip/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><img width="400" height="300" src="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-400x300.jpg 400w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x135.jpg 180w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-600x450.jpg 600w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-800x600.jpg 800w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-1200x900.jpg 1200w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-192 post__cat cat-theme" href="../../category/business/index.html">Business</a>
                    <h3 class="post__title typescale-2"><a href="../../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T07:23:55+00:00" title="March 8, 2018 at 7:23 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="3 Comments" href="../../asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>3</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../overtourism-and-the-big-chill-travel-trends-in-2018/index.html"><img width="400" height="300" src="/files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-400x300.jpg 400w, /files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-180x135.jpg 180w, /files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-600x450.jpg 600w, /files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-800x600.jpg 800w, /files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-1200x900.jpg 1200w, /files/frontend/images/upload/negative-space-beach-beer-sea-swim-blue-sky-wood-nicole-law-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-193 post__cat cat-theme" href="../../category/travel/index.html">Travel</a>
                    <h3 class="post__title typescale-2"><a href="../../overtourism-and-the-big-chill-travel-trends-in-2018/index.html">Overtourism and the big chill: travel trends in 2018</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T07:20:02+00:00" title="March 8, 2018 at 7:20 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../overtourism-and-the-big-chill-travel-trends-in-2018/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../apple-report-reveals-expensive-new-iphone-secret/index.html"><img width="400" height="300" src="/files/frontend/images/upload/144730036-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/144730036-400x300.jpg 400w, /files/frontend/images/upload/144730036-180x135.jpg 180w, /files/frontend/images/upload/144730036-600x450.jpg 600w, /files/frontend/images/upload/144730036-800x600.jpg 800w, /files/frontend/images/upload/144730036-1200x900.jpg 1200w, /files/frontend/images/upload/144730036-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-207 post__cat cat-theme" href="../../category/tech/mobile/index.html">Mobile</a>
                    <h3 class="post__title typescale-2"><a href="../../apple-report-reveals-expensive-new-iphone-secret/index.html">Apple report reveals expensive new iPhone secret</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T07:00:46+00:00" title="March 8, 2018 at 7:00 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../apple-report-reveals-expensive-new-iphone-secret/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../dell-xps-13-review-2018-still-the-best-windows-laptop-2/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/Dell-XPS-13-Pattern-Image-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/Dell-XPS-13-Pattern-Image-400x300.jpg 400w, /files/frontend/images/upload/Dell-XPS-13-Pattern-Image-180x135.jpg 180w, /files/frontend/images/upload/Dell-XPS-13-Pattern-Image-600x450.jpg 600w, /files/frontend/images/upload/Dell-XPS-13-Pattern-Image-800x600.jpg 800w, /files/frontend/images/upload/Dell-XPS-13-Pattern-Image-1200x900.jpg 1200w, /files/frontend/images/upload/Dell-XPS-13-Pattern-Image-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse overlay-item--sm-p">
                            <div class="post-score-hexagon 1967">
                                <svg class="hexagon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                    <g>
                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                    </g>
                                </svg><span class="post-score-value">9.1</span>
                            </div>
                        </div>
                    </a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-208 post__cat cat-theme" href="../../category/tech/computer/index.html">Computer</a>
                    <h3 class="post__title typescale-2"><a href="../../dell-xps-13-review-2018-still-the-best-windows-laptop-2/index.html">Dell XPS 13 review (2018): Still the best Windows laptop</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">After three years of dominating ‘best of’ lists, Dell’s 13-inch ultraportable gets a makeover.</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-08T03:50:42+00:00" title="March 8, 2018 at 3:50 am"><i class="mdicon mdicon-schedule"></i>March 8, 2018</time><span><a title="0 Comments" href="../../dell-xps-13-review-2018-still-the-best-windows-laptop-2/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../southern-hills-hit-by-summer-snow/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/thierry-ambraisse-200857-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/thierry-ambraisse-200857-1-400x300.jpg 400w, /files/frontend/images/upload/thierry-ambraisse-200857-1-180x135.jpg 180w, /files/frontend/images/upload/thierry-ambraisse-200857-1-600x450.jpg 600w, /files/frontend/images/upload/thierry-ambraisse-200857-1-800x600.jpg 800w, /files/frontend/images/upload/thierry-ambraisse-200857-1-1200x900.jpg 1200w, /files/frontend/images/upload/thierry-ambraisse-200857-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse gallery-icon overlay-item--sm-p"><i class="mdicon mdicon-filter"></i><span>6</span></div>
                    </a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-203 post__cat cat-theme" href="../../category/news/nation/index.html">Nation</a>
                    <h3 class="post__title typescale-2"><a href="../../southern-hills-hit-by-summer-snow/index.html">Southern hills hit by summer snow</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T12:38:26+00:00" title="March 7, 2018 at 12:38 pm"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../southern-hills-hit-by-summer-snow/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../understanding-your-dog-for-dummies-cheatsheet/index.html"><img width="400" height="300" src="/files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-400x300.jpg 400w, /files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-180x135.jpg 180w, /files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-600x450.jpg 600w, /files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-800x600.jpg 800w, /files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-1200x900.jpg 1200w, /files/frontend/images/upload/StockSnap_SBFHVSUFIQ-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-191 post__cat cat-theme" href="../../category/life/index.html">Life</a>
                    <h3 class="post__title typescale-2"><a href="../../understanding-your-dog-for-dummies-cheatsheet/index.html">Understanding your dog for dummies cheatsheet</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Headings Header one Header two Header three HEADER FOUR Header five Header six Blockquotes Single line blockquote: Stay hungry. Stay foolish. Multi line ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T12:35:13+00:00" title="March 7, 2018 at 12:35 pm"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../understanding-your-dog-for-dummies-cheatsheet/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../plan-to-convert-complaints-from-client-into-sales/index.html"><img width="400" height="300" src="/files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-400x300.jpg 400w, /files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-180x135.jpg 180w, /files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-600x450.jpg 600w, /files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-800x600.jpg 800w, /files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-1200x900.jpg 1200w, /files/frontend/images/upload/StockSnap_RSUGPD6XIT-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                     close a tag
                </div>
                <div class="post__text ">
                    <a class="cat-192 post__cat cat-theme" href="../../category/business/index.html">Business</a>
                    <h3 class="post__title typescale-2"><a href="../../plan-to-convert-complaints-from-client-into-sales/index.html">Plan to convert complaints from client into sales</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T12:32:45+00:00" title="March 7, 2018 at 12:32 pm"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../plan-to-convert-complaints-from-client-into-sales/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>*@
</div>
@*<div class="mnmd-pagination">
        <h4 class="mnmd-pagination__title sr-only">Posts navigation</h4>
        <div class="mnmd-pagination__links text-center"><span class="mnmd-pagination__item mnmd-pagination__item-current">1</span><a href="page/2/index.html" class="mnmd-pagination__item" title="2">2</a><a href="page/3/index.html" class="mnmd-pagination__item" title="3">3</a><span class="mnmd-pagination__item mnmd-pagination__dots">...</span><a href="page/6/index.html" class="mnmd-pagination__item" title="6">6</a><a href="page/2/index.html"><span class="mnmd-pagination__item mnmd-pagination__item-next"><i class="mdicon mdicon-arrow_forward"></i></span></a></div>
    </div>*@
<nav class="mnmd-pagination text-center">
    <a onclick="NextView();" id="NextViewID" class="btn btn-default">Xem bài cũ hơn<i class="mdicon mdicon-arrow_forward mdicon--last"></i></a>
</nav>
<script>
    $(document).ready(function () {
        if (@ViewBag.HiddenNextView == 1) {
            $("#NextViewID").attr("style","display:none;")
        }
    });

    var currentPageIndex = 1;
    function NextView() {
        var currentAuthorUserName = "@ViewBag.currentSearchKeyword";
        var currentPageSize = 10;

        $.get("/Post/api/Listpaging/author/" + currentAuthorUserName + "/" + currentPageIndex + "/" + currentPageSize + "/" + currentIDBigest, function (data) {
            var arrList = data.data;
            debugger;
            if (arrList.length < 10) {
                $("#NextViewID").attr("style","display:none;")
            }
            console.log(arrList);
            var x = "";
            var y = "";
            for (var i = 0; i < arrList.length; i++) {
                if (arrList[i].commentCount == null) {
                    arrList[i].commentCount = 0;
                }
                if (arrList[i].postPublishStatusId == 2) {
                    x = `<div class="overlay-item post-type-icon--inverse novaticStarListCategory">
                                        <div class="post-score-hexagon 1967 ">
                                            <svg class="hexagon-svg " version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                                <g>
                                                    <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                                </g>
                                            </svg>
                                            <span class="post-score-value">
                                                <i class="mdicon mdicon-star "></i>
                                            </span>
                                        </div>
                                    </div>`
                    y = `<a title="` + arrList[i].name + `" class="post__cat post__cat--bg cat-theme-bg novaticMembershipBackground" href="/` + arrList[i].url + `"><i class="novaticMembership mdicon mdicon-star"></i>Membership</a>`
                }
                $("#novaticListPost").append(`
                    <div class="list-item">
                <article class="post post--horizontal post--horizontal-sm">
                    <div class="post__thumb ">
                        <a title="` + arrList[i].name + `" href="/` + arrList[i].url + `">
                            <img width="400" height="300" src="`+ arrList[i].photo + `" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" sizes="(max-width: 400px) 100vw, 400px" />
                            `+ x +`
                        </a>
                        <!-- close a tag -->
                    </div>
                    <div class="post__text ">
                        `+ y +`
                        <a class="cat-192 post__cat cat-theme" href="/category/`+ arrList[i].postCategoryURL + `">` + arrList[i].postCategoryName + `</a>
                        <h3 class="post__title typescale-2"><a title="` + arrList[i].name + `" href="/` + arrList[i].url + `">` + arrList[i].name + `</a></h3>
                        <div class="post__excerpt ">
                            <div class="excerpt">`+ arrList[i].description + `</div>
                        </div>
                        <div class="post__meta">
                            <span class="entry-author"> By <a class="entry-author__name" href="/author/`+ arrList[i].postAccountURL + `">` + arrList[i].postAccountName + `</a></span>
                            <time class="time published" datetime="` + arrList[i].publishedTime + `" title="` + arrList[i].publishedTime + `"><i class="mdicon mdicon-schedule"></i>` + arrList[i].publishedTime + `</time>
                        </div>
                    </div>
                </article>
            </div>
                `);
            }
        });

        currentPageIndex++;
    }

</script>